<a href="https://colab.research.google.com/github/Davish26/Davish26/blob/main/Development_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the Enron database file using the wget command and save it as "enron.db" online

Import the sqlite3 library

Establish a connection to the "enron.db" database using sqlite3

Define a SQL query to retrieve the table names from the database

Execute the query and fetch all the results

Define a SQL query to retrieve the table schema for the "employeelist" table

Execute the query and fetch all the results

Define a SQL query to retrieve the table schema for the "message" table

Execute the query and fetch all the results

Define a SQL query to retrieve the table schema for the "recipientinfo" table

Execute the query and fetch all the results

Define a SQL query to retrieve the table schema for the "referenceinfo" table

Execute the query and fetch all the results

Define a SQL query to retrieve the "Date" column from the "message" table

Execute the query and fetch one result

Import the pandas library

Define a SQL query to retrieve all columns from the "message" table

Read the SQL query results into a pandas DataFrame named "message_df"

Display the information about the "message_df" DataFrame

Define a SQL query to retrieve the count of emails per day from the "message" table

Execute the query and fetch one result

Define a SQL query to retrieve the count of emails per week from the "message" table

Execute the query and fetch one result


Define a SQL query to retrieve the count of emails per month from the "message" table

Execute the query and fetch one result

Read the SQL query results into a pandas DataFrame named "message_df"


Import the seaborn and matplotlib.pyplot libraries

Create a figure with a size of (50, 5)

Plot a line graph using the "message_df" DataFrame, with 'month' as the x-axis and 'count_email' as the y-axis

Display the plot

Define a SQL query to retrieve the top 10 senders with the highest count of emails from the "message" table

Read the SQL query results into a pandas DataFrame named "sender_data"

Define a SQL query to retrieve the top 10 recipients with the highest count of emails from the "recipientinfo" table

Read the SQL query results into a pandas DataFrame named "recipient_data"

Plot a bar graph using the "sender_data" DataFrame, with 'count_email' as the x-axis and 'sender' as the y-axis

Set the x-label as 'count_email', y-label as 'sender', and title as 'Top senders'

Display the plot

Plot a bar graph using the "recipient_data" DataFrame, with 'count_email' as the x-axis and 'rvalue' as the y-axis

Set the x-label as 'count_email', y-label as 'sender', and title as 'Top senders'

Display the plot

Define a SQL query to retrieve the count of emails by rtype from the "recipientinfo" table

Read the SQL query results into a pandas DataFrame named "pie_data"

Create a pie chart using the "pie_data" DataFrame, with 'count_email' as the data and 'rtype' as the labels

Set the title as 'Pie Chart'

Display the plot

Close the database connection

Commit the changes to the database

#TESTING

In [ ]:
#At first i missed the "!" which produced a syntax error which says invalid decimal literate. 
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

In [ ]:
#I got a modulenotfound error where i found out that i wrote sqllte3 instead of sqlite3
import sqlite3

In [ ]:
#missing a bracket in this one could reseult in syntax error
conn = sqlite3.connect("enron.db")

In [ ]:
#When checking scheme of database, we should make sure to close the sql else we will get a syntax error telling that we have an incomplete input
sql = """
SELECT name
FROM sqlite_master
WHERE type = 'table';
"""
cur.execute(sql)
cur.fetchall()

In [ ]:
#writing the name of the function "message" could result in a name error. Moreover i got a Name error for writing con instead of conn and an attribute error can be produced if we miss an underscore
import pandas as pd
sql = """
SELECT * from message;
"""
message_df = pd.read_sql_query(sql,conn)
message_df

In [ ]:
#missing a single quote in this one could result in an operational error
sql = """
SELECT strftime('%Y-%m-%d', date) AS day, COUNT(*) AS count_email
FROM message
Group by day
"""
cur.execute(sql)
cur.fetchone()